# 1.How to create lags and leads of a column in a dataframe?

* Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

* Input

* df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

* a b c d

*  0 66 34 76 47
* 1 20 86 10 81
* 2 75 73 51 28
* 3 1 1 9 83
* 4 30 47 67 4

In [35]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  59  25  60  57     NaN     25.0
1  87  25  33  29    59.0     90.0
2  55  90  23   2    87.0      8.0
3  19   8  26  64    55.0     91.0
4  78  91  30  73    19.0      NaN

# 2.How to get the frequency of unique values in the entire dataframe?
* Get the frequency of unique values in the entire dataframe df.

* Input

* df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [36]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
pd.value_counts(df.values.ravel())

8    3
4    3
3    3
1    3
9    2
7    2
5    2
2    2
dtype: int64

# 3.How to split a text column into two separate columns?

* Split the string column in df to form a dataframe with 3 columns as shown.

* Input

* df = pd.DataFrame(["STD, City State","33, Kolkata West Bengal","44, Chennai Tamil Nadu","40, Hyderabad Telengana","80,      * Bangalore Karnataka"], columns=['row'])

In [39]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df_out = df.row.str.split(',|\t', expand=True)
df

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

# 4.How to join two dataframes by 2 columns so they have only the common rows?
* Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

* Input

* df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,

              'weight': ['high', 'medium', 'low'] * 3,
              'price': np.random.randint(0, 15, 9)})
* df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,

              'kilo': ['high', 'low'] * 3,
              'price': np.random.randint(0, 15, 6)})

In [21]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
out = df1.merge(df2,left_on=('fruit','weight'),right_on=('pazham','kilo'),how='inner',suffixes=('_left','_right')).head(10)
print(out)

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           9   apple  high           11
1   apple   high           9   apple  high           11
2   apple   high           7   apple  high           11
3  orange    low           7  orange   low            8
4  orange    low           7  orange   low            8
5  orange    low           1  orange   low            8

# 5.How to get the positions where values of two columns match?

In [48]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

np.where(df.fruit1 == df.fruit2)
df

   fruit1  fruit2
0   apple   apple
1   apple   apple
2  banana  banana
3  banana  orange
4  banana  orange
5   apple   apple
6  banana  banana
7  banana   apple
8   apple   apple
9   apple  banana

# 6.How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

* In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

* Input

* df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,

             'rating': np.random.rand(9),
             'price': np.random.randint(0, 15, 9)})

In [49]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  7.666667
1  banana  9.666667
2  orange  7.666667

# 7.How to get the n’th largest value of a column when grouped by another column?

* In df, find the second largest value of 'taste' for 'banana'

* Input

* df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,

             'rating': np.random.rand(9),
             'price': np.random.randint(0, 15, 9)})

In [53]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)
df_grpd = df['rating'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit    rating  price
0   apple  0.581907      3
1  banana  0.685986      4
2  orange  0.559438      5
3   apple  0.469297      0
4  banana  0.738583      5
5  orange  0.605245     10
6   apple  0.068216      7
7  banana  0.577075     10
8  orange  0.924571      8

0.6859857613962903

# 8.How to get the particular group of a groupby dataframe by key?

* This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a dataframe.

* Input

* df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,

             'col2': np.random.rand(9),
             'col3': np.random.randint(0, 15, 9)})
* df_grouped = df.groupby(['col1'])

In [54]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

df_grouped.get_group('apple')

    col1      col2  col3
0  apple  0.761309     3
3  apple  0.485194    12
6  apple  0.751350    10

# 9.How to replace both the diagonals of dataframe with 0? Replace both values in both diagonals of df with 0.

* Input
 * df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

* df
* 0 1 2 3 4 5 6 7 8 9
* 0 11 46 26 44 11 62 18 70 68 26
* 1 87 71 52 50 81 43 83 39 3 59
* 2 47 76 93 77 73 2 2 16 14 26
* 3 64 18 74 22 16 37 60 8 66 39
* 4 10 18 39 98 25 8 32 6 3 29
* 5 29 91 27 86 23 84 28 31 97 10
* 6 37 71 70 65 4 72 82 89 12 97
* 7 65 22 97 75 17 10 43 78 12 77
* 8 47 57 96 55 17 83 61 85 26 86
* 9 76 80 28 45 77 12 67 80 7 63

In [55]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  54  51  56  55  89  84  51  12   0
1  16   0  70  29  86  23  55  66   0  63
2  40  51   0  85  99  10  32   0  67  78
3  40   9  93   0  61  31   0  75  63  88
4  36   3  18   9   0   0  92  19  31  15
5  71  85  85  88   0   0  11  12  28  25
6   4   1  27   0  30  56   0  30  32   8
7  32  23   0  85  45  65  89   0  31  16
8   8   0  13  16  88  68  24  92   0   2
9   0  93   2  66   9  79  96  16  20   0

# 10.How to compute the correlation of each row with the suceeding row?
* Compute the correlation of each row of df with its succeeding row.

* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [56]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[0.06, -0.18, -0.07, 0.33, 0.33, 0.67, -0.63]

# 11.How to normalize all columns in a dataframe?

* Normalize all columns of df by subtracting the column mean and divide by standard deviation.
* Range all columns of df such that the minimum value in each column is 0 and max is 1.
* Don’t use external packages like sklearn.

* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [57]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0  1.90  0.10  0.02  1.07  0.76 -0.10 -0.73  0.66  0.69 -0.35
1  0.10 -0.35 -1.20  1.04 -1.15  0.62  1.79 -1.05 -0.88  0.09
2 -0.22  1.22  0.92 -0.71 -0.07 -1.30 -0.59  0.85  1.67 -0.46
3  0.47 -1.63  1.22  0.31 -0.67  0.84 -0.35 -0.67  0.33  0.14
4 -1.38  0.63 -1.12 -1.26  1.63 -1.58  0.86 -1.08  0.07  2.12
5 -1.07 -0.73  0.65 -1.44  0.13 -0.04 -0.80  0.87 -1.24 -0.19
6  0.26 -0.49 -1.09  0.40  0.62  1.28  0.75 -0.86  0.43 -1.45
7 -0.06  1.25  0.60  0.58 -1.26  0.29 -0.93  1.28 -1.07  0.09

# 12.How to create a column that contains the penultimate value in each row?
* Create a new column 'penultimate' which has the second largest value of each row of df.

* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [58]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  81   8  62  11  25  76   3  40  29   4           76
1  90  94  53  32  31  70  97  67   9  59           94
2  65  86  40  26  72  55  35  36  27   6           72
3   5  25   5  69  76  67  18  13  11  17           69
4  48  17  53  90  51  53  14  59  88  20           88
5  21  27  71  23  21  89  83  53  89  77           83
6  72  96  90  14  39   8  55  83  17  53           90
7  65  34  51  28   7  61  44  46  85  99           85

# 13.How to create a column containing the minimum by maximum of each row?

* Compute the minimum-by-maximum for every row of df.

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [59]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)
df

    0   1   2   3   4   5   6   7   8   9
0  34  97  67  58  62  98  34  18   9  97
1  53  64  65  19  94  56  14  10  28  57
2  29  36  98   8  47  16  65  14  52  24
3  25   8  44  31  90  46  98  18  55  98
4  31  65  17  86  58  15  22  69  98  55
5  40  14  69  39  88  30  97  90  76  51
6  50  27  53  29  81  63  24  48  51  30
7  40  16  24  13  60   2  36  42  78  42

# 14.How to know the maximum possible correlation value of each column against other columns?

* Compute maximum possible absolute correlation value of each column against other columns in df.

* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

In [60]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.69 0.66 0.75 0.74 0.47 0.75 0.74 0.6  0.69 0.62]

# 15.Which column contains the highest number of row-wise maximum values?
* Obtain the column name with the highest number of row-wise maximum’s in df.

* df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [61]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  1