In [51]:
# 1.How to create a series from a list, numpy array and dict?
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [52]:
#2.How to convert the index of a series into a column of a dataframe?
# importing the pandas library as pd
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [53]:
#3.How to combine many series to form a dataframe?
#import numpy as np
#ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
#ser2 = pd.Series(np.arange(26))
# import pandas library
import pandas as pd
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [54]:
#4.How to assign name to the series’ index?

#ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
# importing pandas as pd
import pandas as pd
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [19]:
#5.How to get the items of series A not present in series B?
# Importing pandas library
#From ser1 remove items present in ser2.
#ser1 = pd.Series([1, 2, 3, 4, 5])
#ser2 = pd.Series([4, 5, 6, 7, 8])
import pandas as pd

# Creating 2 pandas Series
ps1 = pd.Series([1, 2, 3, 4, 5])
ps2 = pd.Series([4, 5, 6, 7, 8])

print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)

# Using Bitwise NOT operator along
# with pandas.isin()
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

Series1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series2:
0    4
1    5
2    6
3    7
4    8
dtype: int64

Items of ps1 not present in ps2:
0    1
1    2
2    3
dtype: int64

In [20]:
#6.How to get the items not common to both series A and series B?
#Get all items of ser1 and ser2 not common to both.
#Input
#ser1 = pd.Series([1, 2, 3, 4, 5])
#ser2 = pd.Series([4, 5, 6, 7, 8])
# import the modules
import pandas as pd
import numpy as np

# create the series
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7,8])

# union of the series
union = pd.Series(np.union1d(ser1, ser2))

# intersection of the series
intersect = pd.Series(np.intersect1d(ser1, ser2))

# uncommon elements in both the series
notcommonseries = union[~union.isin(intersect)]

# displaying the result
print(notcommonseries)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [21]:
#7.How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
#Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
#Input
#ser = pd.Series(np.random.normal(10, 5, 25))
import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_series = pd.Series(np.random.normal(10, 5, 25))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      8.235337
1      4.952912
2     10.705613
3      6.892319
4     10.501614
5      5.396590
6     23.024262
7     12.264379
8     12.739993
9      9.532592
10     1.680933
11    10.151009
12    10.859550
13    10.162288
14    10.058607
15    19.086366
16    14.749862
17     9.108559
18    16.818422
19    10.541189
20     8.593059
21    13.998658
22     6.427496
23     8.659407
24     6.878071
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 1.68093277  8.23533709 10.15100926 12.26437879 23.0242618 ]

In [22]:
#8.How to get frequency counts of unique items of a series?
#Calculte the frequency counts of each unique value ser.
#Input
#ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
# importing the module
import pandas as pd

# creating the series
s = pd.Series(data = [np.take(list('abcdefgh'), np.random.randint(8, size=30))])

# displaying the series
print(s)

# finding the unique count
print(s.value_counts())

0    [f, f, h, d, f, c, d, c, d, g, b, g, e, g, a, ...
dtype: object
[f, f, h, d, f, c, d, c, d, g, b, g, e, g, a, h, e, f, d, f, h, e, c, d, e, d, g, g, c, b]    1
dtype: int64

In [24]:
#9.How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
#From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
#Input
#np.random.RandomState(100)
#ser = pd.Series(np.random.randint(1, 5, [12]))
import pandas as pd
import numpy as np
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Original Series:")
print(ser)
print("Top 2 Freq:", ser.value_counts())
result = ser[~ser.isin(ser.value_counts().index[:1])] = 'Other'
print(ser)

Original Series:
0     2
1     3
2     3
3     2
4     3
5     4
6     1
7     2
8     3
9     3
10    3
11    1
dtype: int32
Top 2 Freq: 3    6
2    3
1    2
4    1
dtype: int64
0     Other
1         3
2         3
3     Other
4         3
5     Other
6     Other
7     Other
8         3
9         3
10        3
11    Other
dtype: object

In [50]:
#10.How to bin a numeric series to 10 groups of equal size?
#Bin the series ser into 10 equal deciles and replace the values with the bin name.
#Input
#ser = pd.Series(np.random.random(20))
ser = pd.Series(np.random.random(20))
print(ser.head())
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.329322
1    0.018150
2    0.540111
3    0.800603
4    0.509267
dtype: float64

0    3rd
1    1st
2    6th
3    9th
4    5th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [49]:

#11.How to convert a numpy array to a dataframe of given shape?

#Reshape the series ser into a dataframe with 7 rows and 5 columns

#Input

#ser = pd.Series(np.random.randint(1, 10, 35))
import pandas as pd
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  7  8  9  9
1  4  4  9  4  1
2  8  7  3  9  3
3  8  6  6  2  2
4  7  8  9  7  7
5  9  1  4  5  3
6  3  8  8  9  6

In [55]:
#12.How to find the positions of numbers that are multiples of 3 from a series?
#Find the positions of numbers that are multiples of 3 from ser.
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

# Solution
print(ser)
np.argwhere(ser % 3==0)

0    1
1    7
2    1
3    5
4    6
5    3
6    7
dtype: int32

ValueError: Length of passed values is 1, index implies 7.

In [28]:
#13.How to extract items at given positions from a series

#From ser, extract the items at positions in list pos.

#Input

#ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
#pos = [0, 4, 8, 14, 20]
import pandas as pd
num_series = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
element_pos = [0, 4, 8, 14, 20]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Extract items at given positions of the said series:
0     a
4     e
8     i
14    o
20    u
dtype: object

In [56]:
#14.How to stack two series vertically and horizontally ?
 
#Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

#Input

#ser1 = pd.Series(range(5))
#ser2 = pd.Series(list('abcde'))
# importing the module
import pandas as pd
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2)
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [1]:
#15.How to get the positions of items of series A in another series B?

#Get the positions of items of ser2 in ser1 as a list.

#Input
#ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
#ser2 = pd.Series([1, 3, 10, 13])
import pandas as pd
series1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
series2 = pd.Series([1, 3, 10, 13])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0    10
1     9
2     6
3     5
4     3
5     1
6    12
7     8
8    13
dtype: int64
0     1
1     3
2    10
3    13
dtype: int64
Positions of items of series2 in series1:
[5, 4, 0, 8]

In [57]:
#16.How to compute the mean squared error on a truth and predicted series?

#Compute the mean squared error of truth and pred series.
#Input

#truth = pd.Series(range(10))
#pred = pd.Series(range(10)) + np.random.random(10)
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.5047205016011831

In [4]:
#17.How to convert the first character of each element in a series to uppercase?

#Change the first character of each word to upper case in each word of ser.

#ser = pd.Series(['how', 'to', 'kick', 'ass?'])
import pandas as pd
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print(ser.str.lower(), end ='\n\n')
print(ser.str.capitalize())

0     how
1      to
2    kick
3    ass?
dtype: object

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [31]:
#18.How to calculate the number of characters in each word in a series?

#Input

#ser = pd.Series(['how', 'to', 'kick', 'ass?'])
# Import pandas library
import pandas as pd

# Input series of words
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print("Given Series:")
print(ser)

#Substituting values using map
result = ser.map(lambda x: len(x))
print("No. of characters in each word in the given series:")
print(result)

Given Series:
0     how
1      to
2    kick
3    ass?
dtype: object
No. of characters in each word in the given series:
0    3
1    2
2    4
3    4
dtype: int64

In [32]:
#19.How to compute difference of differences between consequtive numbers of a series?

#Difference of differences between the consequtive numbers of ser.

#Input
#ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
import pandas as pd
ser = pd.Series([1, 3, 6, 10, 15, 21, 27,35])
print("Original Series:")
print(ser)
print("\nDifference of differences between consecutive numbers of the said series:")
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

Original Series:
0     1
1     3
2     6
3    10
4    15
5    21
6    27
7    35
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [58]:
#20.How to convert a series of date-strings to a timeseries?

#Input
#ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
import pandas as pd
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [59]:
#21.How to get the day of month, week number, day of year and day of week from a series of date strings?

#Get the day of month, week number, day of year and day of week from ser.

#Input

#ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
import pandas as pd
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

<ipython-input-59-b7887d738a88>:20: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [60]:
#22.How to convert year-month string to dates corresponding to the 4th day of the month?

#Change ser to dates that start with 4th of the respective months.
#Input

#ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
import pandas as pd
import pandas as pd
# Input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

['2010-01-04', '2011-02-04', '2012-03-04']

In [41]:
#23.How to filter words that contain atleast 2 vowels from a series?

#From ser, extract words that contain atleast 2 vowels.
#Input

#ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
import pandas as pd
from collections import Counter

# creating a series of words
ser = pd.Series(['Apple', 'Orange', 'plan', 'python','Money'])
print("Original Series:")
print(ser)
print("\nWords containing atleast 2 vowels")

# mapping through the series and checking if count of vowels is >=2
result = ser.map(lambda c: sum([Counter(c.lower()).get(i, 0)
								for i in list('aeiou')]) >= 2)

print(ser[result])

Original Series:
0     Apple
1    Orange
2      plan
3    python
4     Money
dtype: object

Words containing atleast 2 vowels
0     Apple
1    Orange
4     Money
dtype: object

In [43]:
#24.How to filter valid emails from a series?

#Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

#Input

#emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
#pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#importing pandas and regex libraries
import pandas as pd
import re as regex

#initialiing pandas series
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

#initializing valid email pattern (may vary)
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

#mapping valid emails
mapped_result = emails.map(lambda i: bool(regex.match(pattern, i)))

print("Valid Emails are: ")
print(emails[mapped_result])

Valid Emails are:
1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [61]:
#25.How to get the mean of a series grouped by another series?

#Compute the mean of weights of each fruit.

#Input

#fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
#weights = pd.Series(np.linspace(1, 10, 10))
#print(weight.tolist())
#print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

apple     5.666667
banana    6.500000
carrot    4.000000
dtype: float64

In [44]:
#26.How to compute the euclidean distance between two series?

#Compute the euclidean distance between series (points) p and q, without using a packaged formula.

#Input

#p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
#q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
import pandas as pd
import numpy as np
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
print("Original series:")
print(p)
print(q)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(p-q))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

Euclidean distance between two said series:
18.16590212458495

In [62]:
#27.How to find all the local maxima (or peaks) in a numeric series?

#Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

#Input

#ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

In [63]:
#28.How to replace missing spaces in a string with the least frequent character?

#Replace the spaces in my_str with the least frequent character.

#Difficiulty Level: L2

#Input

#my_str = 'dbc deb abed gade'
# importing pandas library
import pandas as pd
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

In [64]:
#29.How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

#Desired output

# values can be random
#2000-01-01    4
#2000-01-08    1
#2000-01-15    8
#2000-01-22    4
#2000-01-29    4
#2000-02-05    2
#2000-02-12    4
#2000-02-19    9
#2000-02-26    6
#2000-03-04    6

ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    4
2000-01-08    4
2000-01-15    7
2000-01-22    4
2000-01-29    4
2000-02-05    9
2000-02-12    3
2000-02-19    9
2000-02-26    3
2000-03-04    9
Freq: W-SAT, dtype: int32

In [66]:
#30.How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

#ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

#Input

#ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
#print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64
# Input
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

ser.resample('D').ffill()  # fill with previous value
ser.resample('D').bfill()
ser.resample('D').bfill().ffill()

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64